################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/TimezoneTable.Test/bin/Debug/net6.0
/TimezoneTable.Test/obj
